body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* height: 100vh; */
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 50px;
  background-color: #f2f2f2;
  flex-wrap: wrap;
}
table.tpsForm {
  max-width: 700px;
}
.form-wrapper {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
}

.form-wrapper label {
  display: block;
  margin-bottom: 5px;
}

.form-wrapper select,
.form-wrapper input[type="text"],
.form-wrapper input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-wrapper button {
  background-color: #ffc288;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.form-wrapper button.refres {
  background-color: #fea82f;
}

.form-wrapper button.hapus {
  background-color: #ff6701;
}

button.btnExport {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 250px;
  padding: 20px;
  border-radius: 11px;
  border: solid 2px #119238;
  background-color: #07661f;
  font-weight: 900;
  color: #ccc;
}

@media (max-width: 600px) {
  .form-wrapper {
    width: 100%;
  }
}

/* tabel */
.table-container {
  max-width: 500px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fffdfb;
}

th,
td {
  border: 1px solid #49321d;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #ffc288;
}

@media screen and (max-width: 600px) {
  table {
    font-size: 12px;
  }
}
